* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(60, 60, 60);
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 60%;
    margin: auto;
}

#head {
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 0;
}

.head-top {
    display: flex;
}

.image {
    margin-left: 100px;
    width: 200px;
    height: 200px;
    border-radius: 35%;
    border: solid 4px blanchedalmond;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("https://avatars.githubusercontent.com/u/145306497?s=400&u=2037cc60645ab55576dca00a94dd9fe413ed1981&v=4");
}

.image img {
    size: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: center;
}

.icon {
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 15px 0 15px;
    cursor:pointer;
}

.github {
    background-image: url("img/github.png");
}

.linkedin {
    background-image: url("img/link.png");
}

.email {
    background-image: url("img/email.png");
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    height: 80vh;
    background-color: rgba(30, 50, 70, 0.9);
    border: solid 4px blanchedalmond;
    border-radius: 35px;
}
form{
    display: flex;
    flex-direction: column;
}
form h2{
width: fit-content;
margin: auto;
padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: end;
}
.form-control{
    width: 300px;
    padding: 3px;
    border-radius: 8px;
    border: none;
}
.form-control:focus{
    outline: 1px solid rgb(5, 120, 250);
}
.close{
    position: absolute;
    right: 20px;
    top:20px;
    border:solid 3px blanchedalmond;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
    cursor:pointer;
}
form .btn{
    width: fit-content;
    margin: auto;
    padding: 30px;
}
.btn-submit{
    padding: 10px 20px;
    border-radius: 15px;
    border:solid 2px blanchedalmond;
    background-color: rgb(5, 120, 250);
    color: antiquewhite;
    font-weight: bold;
    font-size: 16px;
}

p {
    text-align: justify;
    line-height: 2;
}

#head p {
    margin: 50px 0 50px 0;
    padding: 0 100px 0 100px;

}

.pro {
    display: flex;
    padding: 100px 0 100px 0;
    align-items: center;
    border-bottom: 1px solid darkgray;
}

.pro p {
    padding: 0 50px 0 50px;
}

.img {
    width: 500px;
    height: 250px;
    border-radius: 35px;
    border: solid 4px blanchedalmond;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.ct_img {
    background-image: url("./img/calorieTracker.png");
}

.pong_img {
    background-image: url("./img/pong.png");
}

.maze_img {
    background-image: url("./img/maze.png");
}

.noise_img {
    background-image: url("./img/fixImg.png");
}

.virus_img {
    background-image: url("./img/virus.png");
}

.shooting_img {
    background-image: url("./img/shooting.png");
}

.snake_img {
    background-image: url("./img/snake.png");
    width: 250px;
    height: 400px;
}